{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; 뒤로가기</a>
</div>

<div class="card-body">
    <h2>다른 사용자 목록</h2>
    <ul>
        {% for other_user in other_users %}
            <li><a href="{% url 'other_user_tasks' other_user.id %}">{{ other_user.username }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="card-body">
    <h2>{{ user.username }} 의 할 일 목록</h2>
    <ul>
        {% for task in tasks %}
            <li class="{% if task.is_complete %}complete{% endif %}">
                {{ task.title }}
                <!-- 관리자인 경우에만 삭제 가능 -->
                {% if is_admin %}
                    <a href="{% url 'soft_delete_task' task.id %}">삭제</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}
