{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>회원가입</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}

        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <input style="margin-top:10px ;" class="button" type="submit" value="회원가입">
    </form>
    
    <p><a href="{% url 'login' %}">로그인 하러가기</a></p>
</div>




{% endblock content %}